<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constitution_option.name %>
</p>

<%= link_to 'Edit', edit_constitution_option_path(@constitution_option) %> |
<%= link_to 'Back', constitution_options_path %>
