<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @effleurage_option.name %>
</p>

<%= link_to 'Edit', edit_effleurage_option_path(@effleurage_option) %> |
<%= link_to 'Back', effleurage_options_path %>
