<tr><div class = "nested-fields" >
  <div class = "field"> 
  	<%= f.hidden_field :_destroy, :class => 'removable' %>
  </div>
  
  <div class = "field"> 
	  <td>Результаты обследований</td> <td><%= f.collection_select(:examination_id, Examination.all, :id, :name, {:include_hidden => false}, :multiple => false) %></td>
	  <td><div class = "field"> 
		Результат <%= f.text_field :result %>
	  </div></td>
	  <td><%= link_to_remove_association " Удалить ", f %></td>
  </div>

</div>
</tr>