<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcutanious_fat_option.name %>
</p>

<%= link_to 'Edit', edit_subcutanious_fat_option_path(@subcutanious_fat_option) %> |
<%= link_to 'Back', subcutanious_fat_options_path %>
