<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @abdominal_condition.name %>
</p>

<%= link_to 'Edit', edit_abdominal_condition_path(@abdominal_condition) %> |
<%= link_to 'Back', abdominal_conditions_path %>
