<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @general_state_option.name %>
</p>

<%= link_to 'Edit', edit_general_state_option_path(@general_state_option) %> |
<%= link_to 'Back', general_state_options_path %>
