// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	input, select, textarea {
		width: 90%;
	}
}

ul {
    list-style-type: none;
    padding:0; margin:0;
}

th, td { width:30px; }

td {
  #border-right: solid 1px #f00; 
  #border-left: solid 1px #f00;
}

.dl-horizontal > dd:after {
  display: table;
  content: "";
  clear: both;
}