<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @liver_condition.name %>
</p>

<%= link_to 'Edit', edit_liver_condition_path(@liver_condition) %> |
<%= link_to 'Back', liver_conditions_path %>
