<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @treatment_factor.name %>
</p>

<%= link_to 'Edit', edit_treatment_factor_path(@treatment_factor) %> |
<%= link_to 'Back', treatment_factors_path %>
