<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @postural_pose_option.name %>
</p>

<%= link_to 'Edit', edit_postural_pose_option_path(@postural_pose_option) %> |
<%= link_to 'Back', postural_pose_options_path %>
